@import './styleReset.styl'
@import './variables.styl'

#root
    margin-top 16px
    max-width: 1600px

body
    font-size: 14px
    flexCenter()

div
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

.navbarCont
    width: 1600px
    height: 120px
    display: flex
    justify-content: flex-start
    align-items: center

img.logoMain
    max-width: 72px
