@import './styleReset.styl';

body
    font-size: 14px

div
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

.redDiv
    color: white
    background-color: red

.greenDiv
    color: green
    font-size: 20px

.greyDiv
    border: 2px solid gray
    color: grey
